{extend name="index/index" /}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">
    <title></title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="__STATIC__/assets/img/favicon.ico" type="image/x-icon" />

    <!-- Google fonts include -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,900%7CYesteryear" rel="stylesheet">

    <!-- All Vendor & plugins CSS include -->
    <link href="__STATIC__/assets/css/vendor.css" rel="stylesheet">
    <!-- Main Style CSS -->
    <link href="__STATIC__/assets/css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
<script src="/oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="/oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>
  <!-- main wrapper start -->
  {block name="main"}
    <main>
        <!-- breadcrumb area start -->
        <div class="breadcrumb-area common-bg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <h1>产品详情</h1>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{:url('index/index')}"><i class="fa fa-home"></i></a></li>
                                    <li class="breadcrumb-item active" aria-current="page">产品详情</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->

        <!-- page main wrapper start -->
        <div class="shop-main-wrapper section-space">
            <div class="container">
                <div class="row">
                    <!-- product details wrapper start -->
                    <div class="col-lg-12 order-1 order-lg-2">
                        <!-- product details inner end -->
                        <div class="product-details-inner">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="product-large-slider">
                                        {foreach name="info['image']" item="image"}
                                        <div class="pro-large-img img-zoom">
                                            <img src="{$image}" alt="product-details" />
                                        </div>
                                        {/foreach}
                                    </div>

                                    <div class="pro-nav slick-row-10 slick-arrow-style" style="width: 100%;">

                                        {foreach name="info['thumb_image']" item="thumb"}
                                        <div class="pro-nav-thumb">
                                            <img src="{$thumb}" alt="product-details" />
                                        </div>
                                        {/foreach}
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="product-details-des">
                                        <h3 class="product-name">{$info.name}</h3>
                                        <div class="ratings d-flex">
                                            <span><i class="lnr lnr-star"></i></span>
                                            <span><i class="lnr lnr-star"></i></span>
                                            <span><i class="lnr lnr-star"></i></span>
                                            <span><i class="lnr lnr-star"></i></span>
                                            <span><i class="lnr lnr-star"></i></span>
                                            <div class="pro-review">
                                                <span>1 Reviews</span>
                                            </div>
                                        </div>
                                        <div class="price-box">
                                            <span class="price-regular">{$info.price}</span>
                                            <span class="price-old"><del>{$info.market_price}</del></span>
                                        </div>
                                        <div class="availability">
                                            <i class="fa fa-check-circle"></i>
                                            <span>200 in stock</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product details inner end -->

                        <!-- product details reviews start -->
                        <div class="product-details-reviews section-space pb-0" style="padding-top: 20px;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product-review-info">
                                        <ul class="nav review-tab">
                                            <li>
                                                <a class="active" data-toggle="tab" href="#tab_one">description</a>
                                            </li>
                                            <!--<li>-->
                                                <!--<a data-toggle="tab" href="#tab_two">information</a>-->
                                            <!--</li>-->
                                            <!--<li>-->
                                                <!--<a data-toggle="tab" href="#tab_three">reviews (1)</a>-->
                                            <!--</li>-->
                                        </ul>
                                        <div class="tab-content reviews-tab">
                                            {php} echo $info['content'];{/php}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product details reviews end -->
                    </div>
                    <!-- product details wrapper end -->
                </div>
            </div>
        </div>
        <!-- page main wrapper end -->
    </main>
  {/block}
    <!-- main wrapper end -->
    <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- Scroll to Top End -->

    <!-- All vendor & plugins & active js include here -->
    <!--All Vendor Js -->
    <script src="__STATIC__/assets/js/vendor.js"></script>
    <!-- Active Js -->
    <script src="__STATIC__/assets/js/active.js"></script>
</body>

</html>
